#AboutMe{
  height:100vh;
  display:flex;
  justify-content: center;
}
.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position:relative;
    background:rgba(85, 85, 85, 0.75);
    border-radius: 0 0 5rem 5rem;
    height:25vh;
    width:75%;
    padding: 5% 2.5%;


  p, ul {
    text-align: left;
    line-height: 130%;
    font-size: 1.25em;
    padding:0.1em;
    font-weight: 500;
    color: rgba(230, 218, 218, 0.889);
    width:80%;
}
  h1{
    font-size: 2em;
    font-weight: 900;
    text-align: left;
    color:rgba(230, 218, 218, 0.889);
    // padding:1% 20%;
}
}
