#AboutMe{
  // height:100vh;
  display:flex;
  justify-content: right;
  background-color:rgb(232, 241, 241);
  padding-top:5rem;
}
.about{
    position:relative;
    border-radius: 0 0 0 5rem;
    height:100%;
    width:75%;
    padding: 5% 2.5%;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
  p, ul {
    text-align: right;
    line-height: 130%;
    font-size: 1.25em;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
  h1{
    font-size: 2em;
    font-weight: 900;
    text-align: right;
    color:rgba(230, 218, 218, 0.889);
}
}
