.links{
    p{
      text-align: center;
      padding: 2% 5%;
      font-weight: 900;
    }
    a{
      font-weight: 900;
      padding: 0.5em;
      color:rgb(10, 10, 10);;
      position: relative;
    }
    section{
      display:flex;
      justify-content: center;  
      a{
      align-content: center;
      overflow: visible;
      padding:0 3rem;
      }
    }
  }