#mainNav {
    border-bottom: 1px solid rgba(var(--box-class), 0.1);
    background-color: var(--lightAccent);
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0 5px 10px 0 rgba(var(--box-shadow));
}

#mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primaryColor);
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: var(--primaryColor);
}

#mainNav .navbar-nav>li.nav-link,
#mainNav .navbar-nav>li.nav-link:focus {
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    color: var( --tertiaryColor);
}

#mainNav .navbar-nav>li.nav-link:hover,
#mainNav .navbar-nav>li.nav-link:focus:hover {
    color: var(--primaryColor);
}

#mainNav .navbar-nav>li.nav-link.active,
#mainNav .navbar-nav>li.nav-link:focus.active {
    color: var(--primaryColor) !important;
    background-color: transparent;
}

#mainNav .navbar-nav>li.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-link:focus.active:hover {
    background-color: transparent;
}

@media (min-width: 992px) {
    #mainNav {
        border-color: transparent;
        background-color: var(--lightAccent);
    }

    #mainNav .navbar-brand {
        color: var(--primaryColor);
    }

    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: var(--secondaryColor);
    }

    #mainNav .navbar-nav>li.nav-link {
        padding: 0.5rem 1rem;
    }

    #mainNav .navbar-nav>li.nav-link:hover,
    #mainNav .navbar-nav>li.nav-link:focus:hover {
        color: var(--secondaryColor);
    }

    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(var(--box-class), 0.1);
        background-color: var(--lightAccent);
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: var(--primaryColor);
    }

    #mainNav.navbar-shrink .navbar-brand:focus,
    #mainNav.navbar-shrink .navbar-brand:hover {
        color: var(--primaryColor);
    }

    #mainNav.navbar-shrink .navbar-nav>li.nav-link,
    #mainNav.navbar-shrink .navbar-nav>li.nav-link:focus {
        color: var( --tertiaryColor);
    }

    #mainNav.navbar-shrink .navbar-nav>li.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav>li.nav-link:focus:hover {
        color: var(--primaryColor);
    }
}