.fa-html5{
  color:rgb(255, 153, 51);
}
.fa-css3-alt{
  color:rgb(51, 204, 255);
}
.fa-js-square{
  color:rgb(255, 255, 102);
}
.fa-react{
  color:rgb(8, 252, 252);
}
.fa-bootstrap{
  color:rgb(130, 20, 255);
}
.fa-github{
  color:rgb(222, 222, 222);
}
.fa-linkedin{
  color:rgb(7, 0, 206);
}
.fa-envelope{
  color: rgb(255, 245, 245);
}
.fa-file-pdf{
  color: rgba(222, 11, 11, 0.718);
}