:root{
  --primaryColor: #f05f40;
  --secondaryColor: #ee4b28;
  --tertiaryColor: #212529;
  --darkAccent:#868e96;
  --lightAccent: #fff;
}

/* -----------------------------------------RESET CSS-------------------------------------- */
body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: var(--primaryColor);
}

hr.light {
  border-color: var(--lightAccent);
}

a {
  color: var(--primaryColor);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  color: var(--primaryColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}
/* ---------------------------------------------------------------------------------------------- */
