:root {
--textcolor:rgb(18, 18, 18);
--texteffect:rgba(194, 194, 194, 0.25);
}

#Project {
  display: flex;
  flex-direction: column;
  min-height: 92vh;
  padding: 5rem
}

#Project article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 12.5vh 12.5vh 12.5vh;
}


.major {
  width: 30rem;
  height: 25rem;
  display: flex;
  margin: 1rem;
  position: relative;
  flex-direction: column;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.75), 10px 10px rgba(0, 0, 0, 0.5), 15px 15px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.25s ease-in-out;
}

.major img {
  height: 20rem;
  width: 30rem;
  object-fit: cover;
  justify-content: center;
}

.major header {
  font-size: 200%;
  font-weight: 900;
  padding: 1rem;
  text-align: center;
  text-shadow: 1px 1px black;
}

.major p {
  padding: 1rem 0.5rem 0 0.5rem;
  text-align: left;
  font-size: 125%;
  font-weight: 700;
}

.major section {
  align-self: flex-end;
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(230, 218, 218, 0.505);
}

.major section a {
  position: relative;
  justify-content: space-between;
  padding: 0 10%;
}

.major text {
  color: black;
}


.fade-image,
.fade-text {
  position: absolute;
  top: 0;
}

.fade-text {
  opacity: 0;
}

.fade-box:hover>.fade-text {
  opacity: 1;
  transition: 0.5s ease-in;
}

.fade-box:hover>img {
  opacity: 0.1;
  transition: 1s ease-out;
}

.major:hover {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.75), 10px 10px rgba(0, 0, 0, 0.5), -5px -5px rgba(0, 0, 0);
}

 /* this is the hover effect on the svg- the fontawesomeicons------ */
#Project svg {
  padding: 1rem;
  display: inline-block;
  flex-direction: column;
  position: relative;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 1s,
    visibility 1.5s;

}

#Project text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  border: 1em;
  font-weight: 600;
  color: var(--textcolor);
  transition:
    font-size 1s,
    box-shadow 2s;


}

#Project a:hover>text {
  visibility: visible;
  overflow: visible;
  font-size: 1.4rem;
  width: 100%;
  /* box-shadow: 0 5px 2px -2px whitesmoke; */
  text-shadow: 1px 1px rgb(246, 247, 255);

}

#Project a:active>text {
  color: rgb(215, 215, 215);
  text-shadow: 1px 1px rgb(10, 38, 255);
}

#Project a:hover> svg {
  visibility: hidden;
  opacity: 0;
}

 /* ---------------------------------------------------------------- */

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}

@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}

@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}

@media only screen and (max-device-width: 480px) {

  /* styles for mobile browsers smaller than 480px; (iPhone) */
  #Project {
    width: 100vw;
  }



  .major {
    width: 20rem;
    height: 20rem;
    box-shadow: 5px 10px;
  }

  .major img {
    height: 15rem;
    width: 20rem;
    object-fit: fill;
    justify-content: center;
  }


}

@media only screen and (device-width: 768px) {
  /* default iPad screens */
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

  /* For portrait layouts only */


  .major {
    width: 25rem;
    height: 20rem;
    box-shadow: 5px 10px;
  }

  .major img {
    height: 15rem;
    width: 25rem;
    object-fit: fill;
    justify-content: center;
  }

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}